<h2 mat-dialog-title align="center">Modifier un nouveau plan repas</h2>
<div>
    <header style="font-size: small;">Choisissez la categorie du plan repas</header>
    <input maxlength="20"placeholder="Exemple: mediteranean" [(ngModel)]="categorie">
</div>
<div>
    <header style="font-size: small;">Choisissez le numero fournisseur du plan repas</header>
    <select [(ngModel)]="numeroFournisseur" style="width: 29%;">
        <option *ngFor="let fournisseur of numerosFournisseur" [value]="fournisseur">{{fournisseur}}</option>
    </select>
</div>
<div>
    <header style="font-size: small;">Choisissez le prix du plan repas</header>
    <input maxlength="20" placeholder="Exemple: 34" [(ngModel)]="prix">
</div>
<div>
    <header style="font-size: small;">Choisissez la frequence du plan repas</header>
    <input placeholder="Exemple: 3" [(ngModel)]="frequence">
</div>
<div>
    <header style="font-size: small;">Choisissez le nombre de calories du plan repas</header>
    <input placeholder="Exemple: 500" [(ngModel)]="nbrCalories">
</div>
<div>
    <header style="font-size: small;">Choisissez le nombre de personnes</header>
    <input placeholder="Exemple: 5" [(ngModel)]="nbrPersonnes">

</div>
<div>
    <button mat-button mat-dialog-close color="primary"
        [disabled]="!formIsValid()"
        (click)="modifyPlanRepas()">Modifier</button>
    <button mat-button mat-dialog-close color="primary">Annuler <mat-icon>clear</mat-icon></button>
</div> 
   